body > background-image {
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;*/
    opacity: 0.1;
}

img {
    width: 50px;
    height: auto;
}